@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Rajdhahni;
}
html{
    scroll-behavior: smooth;
}
nav{
    list-style: none;

    position:fixed;
    width:80%;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(4px) ;/*scroll krte waqt translutent feel hoga*/
    background:rgba(106, 86, 86, 0.1);
    border:transparent;
    margin: 10px 30px;
    border-radius: 30px;
    
}
a .btn{

}
nav a{
    display: flex;
    color:black;
    
    margin:2%;
    display: inline-block;
    
    text-decoration: none;

}
 .btn button{
    float:right;
    border-radius:50px;
    padding:12px 24px;
    font-weight:bold;
    cursor:pointer

}
.logo{

    display: flex;
    width:140px;
    height:120px;
    cursor:pointer;
    float:left;/*not working*/

}
.jj{
    display:flex;
    width:500px;
    height:auto;
    float:right;
    margin-top:100px;
}

 