@import url(https://fonts.bunny.net/css?family=advent-pro:200);

*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre',sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    background-color: #eee;
    padding: 20px;
}
.form-container{
    background-color: white;
    border-radius: 10px;
    border:1px solid rgb(193, 192, 192);
    height: 600px;
    width: 420px;
    padding:50px 40px;
    overflow: hidden;
}
.header{
    position: relative;
    z-index: 1;
}
.header h1{
    font-size: 32px;
}
.form-box{
    display: flex;
    flex-direction: column;
    gap:20px;
    margin-top: 50px;
}
.input{
    position: relative;
    display: flex;
    color: rgb(136, 136, 136);

}
.text{
    height:48px;
    padding-inline: 14px;
    border:1px solid rgb(219, 218, 218);
    outline:0;
    width:100%;
    border-radius: 6px;
}
#password{
    padding-right: 30px;
    
}
#newpassword{
    position: relative;
}
.float{
    position:absolute;
    top:50%;
    left:8px;
    transform: translateY(-50%);
    padding-inline: 6px;
    transition:all .3s ease ;
    pointer-events: none;
}
.text:focus ~ .float,
.text:not(:placeholder-shown)~ .float{

    top:0;
    left:8px;
    transform:translateY(-50%);
    background-color:white;

}
.eye-icon{
    position: absolute;
    right:15px;
    display: flex;
    top:50%;
    transform: translateY(-50%);
}
.eye-icon svg{
    width: 20px;
    height: 20px;
    cursor: pointer;
    color:rgb(200, 200, 200);
}
.checkbox-grp{
    display: flex;
    justify-content: space-between;
    gap:10px;
    font-size:14px;
}
.forgot-password a{
    text-decoration: none;
    color:rgb(19, 19, 168);
}
.form-check{
    display: flex;
    gap:10px;
}
.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    height:48px;
    background:none;
    border:none;
    cursor: pointer;
    padding-inline: 8px;
    border-radius: 6px;
    color: white;
    background-color: rgb(65, 167, 250);
    font-size:15px;
    font-weight: 600;
    margin-top: 20px;
}
.form-bottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:20px;
    margin-top:20px;
}
.divider{
    display: flex;
    align-items: center;
    gap:20px;
    font:10px;
    color:rgb(126, 125, 125);
    margin-top:20px;
}
.social-icons{
    display: flex;
    height:50px;
    gap:20px;   
     margin-bottom: 20px;

}
.social-links{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height:60px;
    border-radius: 50px;
    border:1px solid rgb(183, 182, 182);
    cursor: pointer;
}
.img{
    position: absolute;
    height:40px;
    width: 40px;
    
}
.out a{
    text-decoration: none;
    color:rgb(19, 19, 168);
}