
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    background-color: #696868;
}
.body-box{
    background-color: rgb(205, 205, 205);
    border-radius: 10px;
    border:1px solid rgb(138, 138, 138);
    height: 490px;
    width: 390px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:30px;
}
.header{
    
    margin-top: -100px;
}