
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
}
.body-box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border:1px solid rgb(66, 66, 66);
    border-radius: 15px;
    height:500px;
    width:400px;
    margin-top: 10px;
    background: rgba(255, 255, 255, 0.01);
    backdrop-filter: blur(15px);
    z-index: 1000;

}
.header{
    position: relative;
    z-index: 1;
}
.header h1{
    font-size:32px;
}
.social-icons{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
    
}
.social-icons button{
    height:40px;
    width:50px;
    display: flex;
    border-radius:5px;
    cursor: pointer; 
    text-align: center;
}




.pass, .float{
    position: relative;
}
.eye-icon{
    position: absolute;
    right:1px;
}
.btn{
    position: relative;
    padding:8px 43px;
    border-radius: 1000px;
    font-size:14px;
    font-weight: bold;
    border:2px solid;
    border-image:linear-gradient(to bottom right, #008cff ,#e100ff);
    z-index: 1;
    overflow: hidden;

}
.btn::before{
    content:'';
    position: absolute;
    border:2px solid;
    border:1000px;
    background-image:linear-gradient(to bottom right, #008cff ,#e100ff);
    z-index: -1;
    height:100%;
    width: 100%;
    top:0;
    left:0;
}

   



