@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'poppins',sans-serif;
}
html{
    scroll-behavior: smooth;
}
section{
    min-height: 100vh;
    flex-direction: column;
    display: flex;

}
nav{
    position:fixed;
    width:60%;
    left:20%;
    height:60px;
    text-align: center;
    display:flex;
    justify-content: center;
    backdrop-filter: blur(3px) ;/*scroll krte waqt translutent feel hoga*/
    background:rgba(131, 119, 119, 0.1);
    margin: 10px;
    border-radius: 30px;
    
}

.about a{
    margin:10px 20px;
    justify-content: center;
    padding:10px 1px;
    align-items: center;

   
    
}


nav a{
    display: flex;
    color:black;
    
    margin:3%;
    display: inline-block;
    
    text-decoration: none;
  

}

 .btn button {
    display: flex;
    border-radius:50px;
    padding:10px 24px;
    font-weight:bold;
    cursor:pointer;

}
.btn button:hover{
    background-color: linear-gradient(120deg , red ,blue);
}
.btn{
    margin-left:auto;
    margin-top: 9px;
}

 .logo{
    margin-right:auto;
    margin-top:-16px;

    display: flex;
    width:160px;
    height:120px;
    cursor:pointer;
    float:left;/*not working*/
     

}
.jj{
    
    width:560px;
    float:right;
    margin-right:150px;
    margin-top: 120px;

}
.content{
    display: flex;
    flex-direction: column;
    height:600px;
    width: 500px;
    margin:220px 100px 990px 150px;
    gap:20px;
    line-height:1.3;
    float:left;
    

}
.para{

    line-height: 1.8;

}
span.inves{
    color: rgb(255, 72, 0);

}
.under{
    background-color:rgb(240, 200, 206);
    border-radius:6px;
    margin-left: 2px;
    padding:0 3px;
    text-decoration-line: underline;
  text-decoration-style: wavy;
  text-decoration-color: rgb(52, 98, 49);
}
.downloads{

    display: flex;
    margin:40px;
    
    align-items: center;
    width: 100%;
    margin-left: -10px;
    
}
.downloads button{
    cursor:pointer;
    display: flex;
    margin-left:20px;
    
    height:67px;
    border:2px solid rgb(128, 128, 172);
    font-size:11px;
    width:155px;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap:23px;
    font-weight:600;
    border-radius:50px;

    
}
button:hover{
    color:white;
    background:rgb(92, 92, 201);
}
.carousel{
    margin:100px auto;
    width:100%;
    height:100px;
    border:5px solid black;
    display: flex;
    overflow-x: auto;
}
.carousel::-webkit-scrollbar{
    display:none;

}
.card{
    flex:0 0 5em;/*not shrink after this*/
    height: 5em;
    padding:1em;
    background-color: cornflowerblue;
    font-size:3rem;
    border-radius: .2em;
    align-items: center;
    text-align: center;

}
.group{
    display:flex;
    align-items: center;
    justify-content: center;
    gap:1em;
    animation:spin 5s infinite linear;
    padding-right: 1em;
}
 @keyframes spin{
    from{tanslate:0%;}
    to{translate:-100%;}
 }